/* Taustan ja fontin asetukset */
main {
    background-color: #e0e3e6;
    font-family: Arial, sans-serif;
    padding: 4%;
    margin: 0;
}

body {
  background-color: #ffffff;
  padding-top: 1%;
}

/* Otsikko */
h1 {
    color: #de13b5;
}

/* BOOTSRAP NAVI VÄRIT */
 .navbar-custom {
    background-color:rgb(252, 150, 255);
    width: 1900px;
    text-align: left;
    padding: 0;
    margin-bottom: 15pt;
  }
  
.navbar-custom .navbar-nav {
    margin-left: 0 !important;
}
  
  /* Tekstin väri */
  .navbar-custom .navbar-text{
    color:rgb(43, 0, 44);
  }
  
  /* linkin väri */
  .navbar-custom .navbar-nav .nav-link {
    color:rgb(43, 0, 44);
  }
  
  /* aktiivisen & hover-linkin väri */  
  .navbar-custom .nav-item.active .nav-link,
  .navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
  }

  .navbar-custom a{
    text-decoration: none;
  }

/* Card tyylit */
.card {
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
.card-body{
  background-color:rgb(241, 236, 241);
}

/* List-group tyylit */
.list-group-item {
    font-size: 1rem;
}

/* JASON kuva luokka */
.img_luokka {
  width: 100%;
}

/* Digitekniikat kuva  */
.smaller-image {
    max-height: 300px;   
    height: auto;        
    width: auto;         
    display: block;
    margin-left: 30px;      
    margin-right: 100px;
    margin-bottom: 20px;
}

